# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=e58e36308c1d9ab46075f2cb12647d52
###< symfony/framework-bundle ###

###> symfony/webapp-pack ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/webapp-pack ###

###> doctrine/doctrine-bundle ###
#live
#local
DATABASE_URL="mysql://debes_user:password@127.0.0.1:3306/debes?serverVersion=8.0"

###< symfony/mailer ### realDSN needs to be used for a fork
#live
MAILER_ACTIVE=0
MAILER_DSN=smtp://debes@wh-company.de:M6264P687783D78@smtp.strato.de:465/?encryption=ssl$auth_mode=login
MAILER_DSN_REAL=smtp://debes@wh-company.de:M6264P687783D78@smtp.strato.de:465/?encryption=ssl$auth_mode=login
MAILER_ADDRESS_NON_ACTIVE="wrextuus@gmail.com"
#local
#MAILER_DSN=smtp://0.0.0.0:1025
#MAILER_DSN_REAL=smtp://0.0.0.0:1025

###> sentry/sentry-symfony ###
SENTRY_DSN="https://f6435d72e1a24fb79469db855e8f4534@o4504932680794112.ingest.sentry.io/4504932687478784"
