{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="page-header-text">
            Passwort zurücksetzen
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/reset-password.svg') }}" alt="Tile image">
        </div>

    </div>


    <div class="content-body">
        <div class="empty-list-info">
            Checke ob du eine Email mit einem Link zum Zurücksetzen deines Passwortes erhalten hast. Vergiss nicht auch
            in
            den Spam-Ordner zu schauen. Der Link ist 1 Stunde gültig!
            <p>
                Falls du keine Email erhalten hast, <a href="{{ path('app_forgot_password_request') }}">fordere den Link erneut
                    an</a> oder melde dich bei uns.
            </p>
        </div>

    </div>

{% endblock %}
