{% if  numberOfDebtors > 6 %}
    <div class="col">
    <div>
        <h3>Schuldner 6</h3>
    </div>
    <div>
        <div>
            {{ form_label(form.debtor6.amount, 'Betrag', {'label_attr': {'class': 'h2'}}) }}
        </div>
        {{ form_widget(form.debtor6.amount, {'attr': {'class': 'earch-form input'}}) }}

        <div>
            {{ form_label(form.debtor6.owner, 'Name', {'label_attr': {'class': 'h2'}}) }}
        </div>
        {{ form_widget(form.debtor6.owner, {'attr': {'class': 'earch-form input'}}) }}
        <br>
    </div>
    <p style="border: 1px solid black;"><p></p>
{% endif %}