//colors
$body-main: #292f24;
$body-diff: #424243;
$body-diff-2: #5d5d5d;
$header-purple: #80596f;
$balance-negative: #a93939;
$balance-positive: #6c915b;
$form-button: #688059;
$font-color-white: #d7e6cf;

//distance
$default-margin-lr: 3px;
$default-margin-b-s: 10px;