@import "variables";

/* Main menu positionning */
.footer{
  margin-top: auto;
  background: $color-footer;
  color: black;
}
.footer-element{
  color: #0a0800;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.footer-company-logo{

  img {
    border: 1px solid black;

    width: $footer-company-logo-size;
    height: $footer-company-logo-size;
  }
}