@import "variables";
@import "form";

.transaction-summary{
  background: #424243;
  border: 2px solid $color-header-main;
  border-radius: 8px;
  margin-right: $default-m-lr-s;
  max-width: 100%;
  margin-bottom: 15px;
}
.summary-header{
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  background-color: $color-header-main;
  border: 1px solid $color-header-main;
  //border-radius: 8px;
}

.summary-info-filed{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: $color-body-diff;
  border: 1px solid $color-header-main;
  //border-radius: 8px;
  margin: 5px 0px;
}
.summary-info-filed-row{
  display: flex;
  margin: 5px;
}
.summary-info-filed-entry{
  color: black;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.3em;

}

.summary-transaction-details{
  padding: 5px;
  background-color: $color-body-diff;
  border: 1px solid $color-header-main;
}

.exchange-choice{
  max-width: 100%;
  background-color: $color-body-diff;
}

.exchange-preview{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.exchange-preview-image{
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    $exchange-img-size: 140px;
    width: $exchange-img-size;
    height: $exchange-img-size;
  }
}

.exchange-result-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    $exchange-img-size: 50px;
    width: $exchange-img-size;
    height: $exchange-img-size;
  }
}

.exchange-preview-part{
  background-color: $color-body-diff;
  //border-radius: 8px;
  margin-right: $default-m-lr-s;
  margin-left: $default-m-lr-s;
  max-width: 100%;


}
.exchange-preview-part.positive{
  //background-color: $balance-positive;
  //border-top: 2px solid $balance-positive;
  border-right: 10px solid $color-balance-positive;
  //border-left: 1px solid $body-diff;
  //border-bottom: 1px solid $body-diff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;


}

.exchange-preview-part.negative{
  border-left: 10px solid $color-balance-negative;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  //background-color: $balance-positive;
  //border-top: 2px solid $balance-positive;

}

.exchange-preview-part-arrow.positive{
  border-right: 10px solid $color-balance-positive;
  padding-bottom: 30px;
  border-bottom-right-radius: 8px;
  margin-right: $default-m-lr-s;
}

.exchange-preview-part-arrow.negative{
  border-left: 10px solid $color-balance-negative;
  padding-bottom: 30px;
  border-top-left-radius: 8px;
  margin-left: $default-m-lr-s;
}

.exchange-preview-part-header{
  padding: 5px;
  font-size: 1.3em;
  text-align: center;
}

.exchange-preview-part-header.positive{
  background-color: $color-balance-positive;
  border-left: 10px solid $color-balance-positive;
  border-top-left-radius: 8px;
  //border-bottom-left-radius: 8px;
}
.exchange-preview-part-header.negative{
  background-color: $color-balance-negative;
  border-left: 10px solid $color-balance-negative;
  //border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.exchange-info-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: $color-body-diff;
  //border-top-left-radius: 8px;
  //border-bottom-left-radius: 8px;
  border-radius: 8px;
}
.exchange-info-field-row{
  display: flex;
  margin: 5px;
}
.exchange-info-field-entry{
  color: black;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.3em;

}

.exchange-result{
  //background-color: $body-diff;
  //border-top-left-radius: 8px;
  //border-bottom-left-radius: 8px;
  border-radius: 8px;
  margin: 20px $default-m-lr-s;
  color: #0a0800;
  padding: 5px;
  font-size: 1.2em;

}

.exchange-result-number{
  font-weight: bold;
  font-size: 1.8em;
}

.exchange-result.negative{
  background-color: $color-balance-negative;
}
.exchange-result.positive{
  background-color: $color-balance-positive;
}

// exchange listing
.exchange-list{
  background: #424243;
  margin: 20px $default-m-lr-s 10px;
  max-width: 100%;
  font-size: 0.7em;

}
.exchange-event{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
 @extend .summary-info-filed;
}

.exchange-list-row{
  @extend .summary-info-filed-row;
}
.exchange-list-entry{
  @extend .summary-info-filed-entry;
}

.reason{
  background-color: $color-form-button;
  padding: 3px;
  border-radius: 4px;
}

.exchange-event-visual-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  color: #0a0800;
  font-weight: bold;
  margin-top: 5px;
}

.exchange-list-row-image{
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    $exchange-list-row-image-size: 10px;
    width: $exchange-list-row-image-size;
    height: $exchange-list-row-image-size;
  }
}

.exchange-event-visual-amounts {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exchange-event-visual-amounts span {
  margin: 0 10px;
}

.exchange-event-visual-users {
  display: flex;
}

.exchange-event-visual-users span {
  margin: 0 10px;
}

.user1-name {
}

.user2-name {
}

.exchange-collapsable-row{
  display: flex;
  justify-content: flex-end;

}

.exchange-collapsable {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-header-main;
  color: black;
  border-radius: 4px;
  border: 1px black solid;
  max-width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  img {
    $img-size: 50px;
    max-width: $img-size;
    max-height: $img-size;
    object-fit: contain;
  }
  &.deactivated{
    background-color: $color-body-diff;
  }
  &.active{
    background-color: $color-body-diff;
  }

  .exchange-collapsable-text{

  }
}


.bank-transfer-details{
  @extend .has-default-border;
  background-color: $color-body-diff;
  padding: 15px;
  margin-bottom: $default-m-b-m;
  .bank-transfer-line{
    display: flex;
    flex-direction: column;
    margin-bottom: $default-m-b-s;
    border-bottom: solid 1px black;
    .bank-transfer-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: $default-m-b-s;

      .bank-transfer-row-date {
        color: $color-font-white;
      }
      .bank-transfer-row-icon {
        margin-right: 10px;
        color: $color-font-white;
        padding: 1px;
        background-color: $color-font-white;
        border: 1px solid black;
      }
    }


    .bank-transfer-row-icon img {
      width: 25px;
      height: 25px;
    }

    .bank-transfer-row-copy{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: $default-m-b-s;

      .bank-transfer-row-copy-value{
        display: inline-block;
        margin-left: $default-m-lr-s;
        color: #0a0800;
        font-weight: bold;
      }
      .bank-transfer-row-copy-button{
        @extend .btn;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: $default-m-lr-s;
      }
    }
    &.copied {
      color: black;
      .bank-transfer-row {
        .bank-transfer-row-date{
          color: black;
        }
        .bank-transfer-row-icon {
          background-color: $color-balance-positive;
        }
      }

    }
  }

}




