{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var context \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# {% extends ea.templatePath('crud/index') %} #}
{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block table_body_empty %}
    <tr class="no-results">
        <td colspan="100">
            {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
        </td>
    </tr>
{% endblock table_body_empty %}