<div class="footer">
    <div class="footer-company-logo">
        <a href="https://www.wh-company.de">
            <img src="{{ asset('assets/img/home/wh-company-logo_small.png') }}" alt="Tile image">
        </a>
    </div>
{#        © WH-Company: Where 'u' double quality of life#}
        © {{ 'now' | date('Y') }} WH-Company
</div>