<div class="top-navi top-navi-with-tabs">
    <div>
        <div class="account-landing-header">
            Hallo User
        </div>
    </div>
    <button id="burger" class="open-main-nav">
        <span class="burger"></span>
        <span class="burger-text">Menu</span>
    </button>
    <nav class="main-nav" id="main-nav">
        <ul>
            <li>
                <a href="#">About me</a>
            </li>
            <li>
                <a href="#">Speaker &amp; Writer</a>
            </li>
            <li>
                <a href="#">Work</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
        </ul>
    </nav>
</div>