{% extends 'base.html.twig' %}

{% block title %}DEBES - Features{% endblock %}

{% block body %}
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link zur CSS-Datei -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
    <title>Debes - Features</title>
</head>
<body>

<div class="homepage-welcome">
    <span class="">Debes:</span> das Management-System für deine Finanzen
</div>
<div class="content-body">
    <div>
        <h1>Hierauf kannst du dich in Zukunft freuen</h1>
        <h2>Vor Release: </h2>
        <ul>
            <li>Test-Lauf</li>
        </ul>

        <h2>Future: </h2>
        <ul>
            <li>Templates aufräumen</li>
            <li>Code aufräumen</li>
            <li>Mailing-Service auf Events umstellen</li>
            <li>Feature: Zinsen</li>
            <li>Feature: Profil-Einstellungen: auto-accept, confirm, exchange</li>
            <li>Feature: Filter auf Übersichtsseiten: Nach Usern, Höhe Betrag, Datum...</li>
            <li>Feature: Benutzergruppen: Nicht jeder User soll jeden anderen sehen</li>
            <li>Feature: Anonyme Nutzer zum Verwalten der eigenen Schulden</li>
        </ul>
    </div>
</div>
{% endblock %}
