<table class="footer-container">
    <tr>
        <td class="va-top footer-top">
            <table>
                <tr>
                    <td class="va-top">
                        <table class="w-100">
                            <tr>
                                <td class="left-side">
                                    <h3 class="heading">About</h3>
                                    <p>DEBES ist ein kostenloser Service der WH-Company</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="w-100">
                            <tr>
                                <td class="left-side">
                                    <h3 class="heading">Kontakt</h3>
                                    <ul>
                                        <li><span class="text">Venloer Str. 265</span></li>
                                        <li><span class="text">50823 Köln</span></li>
                                        <li><span class="text">+49 163 2503494</span></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="va-top footer-bottom">
            <table>
                <tr>
                    <td class="va-top">
                        <table class="w-100">
                            <tr>
                                <td class="left-side">
                                    <a class="wh-company-logo-left-link" href="https://www.wh-company.de">
                                        <img class="wh-company-logo-left-image" src="https://res.cloudinary.com/dl4y4cfvs/image/upload/v1688743509/debes/mail/WH-Company_logo_banner_afewk7.png" alt="wh_company_logo">
                                        <span class="wh-company-logo-left-name"> &copy; {{ 'now' | date('Y') }} WH-Company. All Rights Reserved</span>
                                    </a>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a class="unsubscribe va-bottom" href="https://www.wh-company.de">Abmelden</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>