<table class="header-container" >
    <tr>
        <td class="logo logo-left left-side">

                <a class="logo-left-link" href="https://debes.wh-company.de">
                    <img class="logo-left-image" src="{{ email.image('@images/navi_icon.png') }}" alt="debes_logo">
                    <span class="logo-left-name">DEBES</span>
                </a>

        </td>
        <td class="right-side">
            <ul class="navigation">
                <li><a href="https://debes.wh-company.de">Home</a></li>
                <li><a href="https://www.wh-company.de">About</a></li>
            </ul>
        </td>
    </tr>
</table>