<tr style="background-color: rgb(45,52,22)">
    <td valign="top" class="counter"
        style="background-image: url({{ absolute_url(asset('img/mailTop.png')) }}); background-size: cover; padding: 4em 0;">
        <div class="overlay"></div>
        <table>
            <tr>
                <td valign="middle" width="33.333%">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                           width="100%">
                        <tr>
                            <td class="counter-text">
                                <span class="num">{{ problems }}</span>
                                <span class="name">Probleme mit diesem Nutzer</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="middle" width="33.333%">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                           width="100%">
                        <tr>
                            <td class="counter-text">
                                <span class="num">{{ transactions }}</span>
                                <span class="name">Bisherige Transaktionen mit diesem Nutzer</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="middle" width="33.333%">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                           width="100%">
                        <tr>
                            <td class="counter-text">
                                <span class="num">{{ debts }} €</span>
                                <span class="name">Eigene offene Schulden</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr><!-- end tr -->